<h3 [ngClass]="{ online: serverStatus === 'online' }">
  Server with ID {{ serverId }} is
  <span
    [ngStyle]="{ backgroundColor: getColor() }"
    class="badge badge-success"
    >{{ serverStatus }}</span
  >
</h3>

<button class="btn secondary-btn" (click)="onDisplayDetails()">
  Display Details
</button>

<p *ngIf="showDetails">Server details</p>

<pre>
    <p *ngFor="let logItem of clickLog; let i = index" [ngStyle]="{ backgroundColor: i >= 5 ? 'blue' : 'transparent'}" [ngClass]="{ white: i >= 5}">{{ logItem }} - {{i}}</p>
</pre>
